{{>header}}
{{#diary}}
    <div class="col">
        <p>
        <h4>제목: {{title}}</h4>
        <h4>내용: {{body}}</h4>
        {{#actions}}
            Action
            <h5>내용: {{comment}}</h5>
            <h5>타입: {{type}}</h5>
        {{/actions}}
        </p>
    </div>
    <span
            data-writer-id={{writer.id}}
            data-user-id={{userId}}
            data-diary-id={{id}}
    >
    <div class="row" id="edit"></div>
    {{#comments}}
        <input name="comment-id-and-user-id[]" type="hidden" value="{{id}},{{user.id}}">
        {{>comment-simple}}
    {{/comments}}
    {{>comment-post}}
{{/diary}}
{{^diary}}
    Diary 로드에 실패했습니다.
{{/diary}}
<script src="/js/app/diary-detail.js"></script>
<script src="/js/app/comment-post.js"></script>
<script src="/js/app/comment-simple.js"></script>
{{>footer}}