{{>header}}

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
            </div>
            <div class="form-group">
                <label for="body">내용</label>
                <input type="text" class="form-control" id="body" placeholder="내용을 입력하세요">
            </div>
            <div class="form-group" id="action-list">
                <label for="actions">Actions</label>
                <button type="button" id="btn-action-add">Action 추가</button>
                <p>
                <input name="comment[]" type="text">
                <select name="type[]">
                    <option value="Work">Work</option>
                    <option value="Study">Study</option>
                    <option value="Exercise">Exercise</option>
                    <option value="Hobby">Hobby</option>
                    <option value="Any">Any</option>
                </select>
                </p>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">글 취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>
{{>footer}}